site_name: TigerGraph Full Stack Course with Flutter and Firebase

# Repository
repo_name: mckenzie-steenson/amazon-app

repo_url: https://github.com/mckenzie-steenson/amazon-app
edit_uri: ""
# Configuration
theme:
  name: material
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.tabs
    - navigation.tabs.sticky

# Default values, taken from mkdocs_theme.yml
  language: en
  features:
    - content.code.annotate
    # - content.tabs.link
    # - header.autohide
    # - navigation.expand
    - navigation.indexes
    # - navigation.instant
    - navigation.sections
    - navigation.tabs
    # - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    # - toc.integrate
  palette:
    - scheme: default
      primary: orange
      accent: orange
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    - scheme: slate
      primary: orange
      accent: orange
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to light mode
  font:
    text: Roboto
    code: Roboto Mono
  favicon: assets/favicon.png
  logo: assets/favicon.png

# Plugins
plugins:
  - search

# Customization
extra:
  analytics:
    provider: google
    property: !ENV GOOGLE_ANALYTICS_KEY
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/squidfunk
    - icon: fontawesome/brands/gitter
      link: https://gitter.im/squidfunk/mkdocs-material
    - icon: fontawesome/brands/docker
      link: https://hub.docker.com/r/squidfunk/mkdocs-material/
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/squidfunk
    - icon: fontawesome/brands/linkedin
      link: https://linkedin.com/in/squidfunk/
    - icon: fontawesome/brands/instagram
      link: https://instagram.com/squidfunk

# Page tree
nav:
  - Home: index.md
  - Environment Setup: env.md
  - TigerGraph Cloud: tgcloud.md
  - Middleware: middleware.md
  - Frontend:
    - 'Before We Get Started': 'frontend_pages/01_before.md'
    - 'Dependency Changes': 'frontend_pages/02_dependency.md'
    - 'Exploring Flutter Fundamentals': 'frontend_pages/03_exploring.md'
    - 'Laying Down the Groundwork': 'frontend_pages/04_laying.md'
    - 'Navigation': 'frontend_pages/05_navigation.md'
    - 'Adding to the Intro Page': 'frontend_pages/06_adding.md'
    - 'TigerGraph Functionality': 'frontend_pages/07_tigergraph.md'
  - Conclusion: conclusion.md

markdown_extensions:
  - attr_list
  - md_in_html


